.toggle{
    display:flex;
    justify-content:end;
    padding:1rem 0;
    margin:0 auto;
    width:90vw;
    max-width:1120px;

}
.darkToggle{
    border:transparent;
    background-color:transparent;
    width:4rem;
    height:1rem;
    padding:2px;
    cursor:pointer;
}
.icon{
    font-size:1.5rem;
}